.container {
    display: flex;
    width: 90%;
    margin: auto;
    height: 938px;
    background-image:url("/Users/leo/Desktop/Semaine intensive/JS/carte/images/carte.png");
    background-size: 1415px 931px;
}
.myAnimation {
    top: 300px;
    left: 350px;
    width: 70px;
    height: 70px;
    position: absolute;
}
.noneContainer{
  display: none;
}
.none{
  visibility: hidden;
}
.btn {
  margin: auto;
  display: block;
  align-items: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.play{
  padding: 20px;
  justify-content: center;
  display: block;
  align-items: center;
}
.container2{
  margin: auto;
  display: flex;
  height: 902px
}
